extends layouts/main

block content
    .form--contatiner
        form(action=routes.join, method="post")
            input(type="text", name="name", placeholder="Full Name" required=true)
            input(type="email", name="email", placeholder="Email" required=true)
            input(type="password", name="password", placeholder="Password" required=true)
            input(type="password", name="passwordV", placeholder="Verify Password" required=true)
            input(type="submit", value="Join now")
        a.form--container__link(href=`/users${routes.changePassword}`) Change Password
        include partials/socialLogin